---
layout: default
---
<!-- Page Banner -->
<div class="page-banner banner-bg-one">
    <div class="container"> 
        <div class="banner-text"> 
            <h1>{{ page.title }} - Liste des établissements </h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<!-- Popular courses --
<section class="popular-courses pt-100 pb-180 white-bg">
    <div class="container">
        <div class="row"> 
            <div class="col-md-6 col-lg-4">
                <div class="single-course mb-30">
                    <a href="#" class="thumb-img">
                        <span class="overly"></span>
                        <img src="assets/img/courses/1.jpg" alt="Course Image">
                    </a>

                    <div class="course-caption">
                        <h3><a href="#">Computer Science & Engineering</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>

                        <div class="course-foot">
                            <img src="assets/img/instruction/sm1.jpg" alt="instruction">
                            <a href="#">Alister Cook</a>
                            <p class="price">$149</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <nav class="pagination-outer" aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a href="#" class="page-link" aria-label="Previous">
                        <i class="icofont-swoosh-left"></i>
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link" aria-label="Next">
                        <i class="icofont-swoosh-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
        
    </div> 
</section>
<!-- End Popular courses -->